#equals{
    width: 116px;
    height: 35px;
    background-color:antiquewhite;
    color:black;
    font-weight: bold;
}
#num{
    width: 56px ;
    height: 35px;
    background-color:antiquewhite;
    color:black;
    font-weight: bold;
}
#num:hover{
    background-color: crimson;
    color: aliceblue;
}
#equals:hover{
    background-color: crimson;
    color: aliceblue;
}
#yput{
    height: 23px;
}
#cal{
    background-color: black;
    padding: 25px 24px;
    margin-left: 41%;
    margin-right: 41%;
    align-items: center;
    margin-top: 70px;
}
body{
    background-color: gray;
}
#infobut{
    width: 56px ;
    height: 35px;
    background-color:darkcyan;
    border-radius: 20px;
    color:white;
    font-weight: bold;
    float: center;
    margin-left: 48%;
}