#equals{
    width: 122px;
    height: 39px;
    background-color: rgb(179, 169, 156);
    color: black;
    font-weight: bold;
}
#num{
    width: 59px;
    height: 40px;
    background-color: rgb(179, 169, 156);
    color: black;
    font-weight: bold;
}
#num:hover{
    background-color: crimson;
    color: aliceblue;
}
#equals:hover{
    background-color: crimson;
    color: aliceblue;
}
#yput{
    height: 30px;
}
#cal{
    background-color: black;
    padding: 31px 34px;
    margin-left: 39%;
    margin-right: 40%;
    align-items: center;
    margin-top: 37px;
    border-radius: 17px;
}
body{
    background-color:rgb(78, 64, 64);
}
#infobut{
    width: 56px ;
    height: 35px;
    background-color:darkcyan;
    border-radius: 20px;
    color:white;
    font-weight: bold;
    float: center;
    margin-left: 48%;
}
#darktheme{
    background-color: black;
    color: aliceblue;
    padding: 0px 0px;
    float: left;
    text-decoration: none;
}
#lighttheme{
    text-decoration: none;
    padding: 0px 0px;
    float: left;
}
ul{
    display: flex;
    text-decoration: none;
    list-style: none;
    padding: 0;
    float: right;
    margin: 0px;
    margin-right: 15px;
}
#mode{
    margin-left: 94%;
    color: azure;
}
hr{
    margin-top: 150px;
}
a{
    color: rgb(64, 121, 228);
}
h3{
    margin: 10px;
}
#h1{
    text-align: center;
    color: white;
    margin-left: 76px;
}
#h3{
    color: white;
    margin: 10px;
}
.bottom-container{
    align-content: center;
    padding: 22px 0px 18px ;
    text-align: center;
    
}