h1{
    text-align: center;
    width: 20%;
    padding: 0%;
    margin-left: 40%;
}
#but {
    text-align: center;
}
#paragraph{
    text-align: center;
}
body{
    margin: 0;
    background-color: gainsboro;
    padding: 0;
}
p{
    font-size:x-large;
}
#list{
    display: contents;
    border: 30px solid;
    border-radius: 5px;
    border-color: brown;
}
#list li{
    border: 2px solid;
    border-radius: 10px;
}
#list li:hover{
    background-color: darkgray;
}
#contents{
    text-align: center;
    background-color: bisque;
    font-size: x-large;
    margin:200px;
    margin-top:00;
}
ol li{
    margin-top: 0%;
    padding: 20px 10px;
    border-width: 20px;
    color: brown;
    list-style: none;
}
.nav{
    display: contents;
}
.list{
    list-style: none;
    display: flex;
    overflow: auto;
}
.list li{
    padding: 20px;
    font-size:large;
    opacity: 0.5;
    color: 'black';
}
.list li a{
    text-decoration: none;
    padding: 10px;
    font-size:100;
    color: rgb(0, 0, 0);
    transition: all 3s ease;
}
.const{
    background-color:rgb(192, 187, 187) ;
}
.list li:hover{
    opacity: 2.0;
    background-color: gray;
}
#cred:hover{
    background-color: red;
}
#cgreen:hover{
    background-color: green;
}
h1:hover{
    color: blueviolet;
}
.info{
    margin-left: 50px;
}
#black:hover{
    background-color: black;
}
#gray:hover{
    background-color: gainsboro;
}